// her laver vi vores scc

// SCSS variable (for use in SCSS)
@use "./color" as *; 
@use "./mixin"; 
@use "./global";
@use "./reset";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

#hunder{ 
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-style: italic;
    text-align: center;
    background-color: $light;
}
article{
        font-family: "Montserrat", sans-serif;
        font-size: 15px;
        font-style: italic;
        text-align: center;
}

body{
    border-radius: 2rem;
    background-color: rgb(236, 115, 142);
}
#mainFooter{
    background-color: aquamarine;
}

.img-container {
  position: relative;
  display: inline-block;
  margin: 0.5rem;
}

.img-container img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.img-text {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  color: white;
  background: rgba(0,0,0,0.5);
  text-align: center;
  font-size: 1rem;
  padding: 0.2rem 0;
  font-family: "Montserrat", sans-serif;
}